body {
  font-family: sans-serif;
  line-height: 1.5;

  color: #333333;

  width: 980px;
  margin: 0 auto;
}

.content {
text-align: center;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 25px;
}